.header_scss {
  background-color: #c5cfd8;
  padding: 2em 0em;
}

.logo_scss {
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
}

.divLogo_scss {
  height: 64px;
  width: 64px;
  background-color: #3174c9;
}
