<div *ngIf="pedidos$ | async as pedidos; else carregando" class="d-flex h-100">
  <div class="col-md-6 pe-md-5 border-end border-primary">
    <app-empresa-resume
      *ngFor="let pedido of pedidos"
      [pedido]="pedido"
      (clickVisualizarEvent)="onVisualizarEmpresa($event)"
    ></app-empresa-resume>
  </div>

  <div class="col-md-6 ps-md-5">
    <app-empresa-detail
      *ngIf="selectedPedido as selecionada"
      [pedido]="selecionada"
      (editar)="onEditar($event)"
    ></app-empresa-detail>
  </div>
</div>
<ng-template #carregando>
  <p>Carregando empresas...</p>
</ng-template>
