<div
  *ngIf="pedidos$ | async as pedidos; else carregando"
  class="empresas-container_scss row g-0 h-100 flex-column flex-md-row"
>
  <div class="col-12 col-md-6 resumo-container_scss">
    <app-empresa-resume
      *ngFor="let pedido of pedidos"
      [pedido]="pedido"
      (clickVisualizarEvent)="onVisualizarEmpresa($event)"
    ></app-empresa-resume>
  </div>

  <div class="col-12 col-md-6 detalhe-container_scss">
    <app-empresa-detail
      *ngIf="selectedPedido as selecionada"
      [pedido]="selecionada"
      (editar)="onEditar($event)"
    ></app-empresa-detail>
  </div>
</div>

<ng-template #carregando>
  <p>Carregando empresas...</p>
</ng-template>
